

body {
    font-family: 'Playfair Display', serif;
    background: white url("/static/img/sf_logo4.jpg") no-repeat;
    background-size: cover;
}

.navbar {    
    background-color: green;
    border-bottom: 2px solid green;
    margin-bottom: 2rem;
    display: flex;
}

.navbar-brand {
    color:gold;
}

.navbar-brand:hover {
    color:gold;
}

.pa_1 {
    color:gold;
}

.pa_1:hover {
    color:white;
}

.pa_1:focus {
    color: gold;
}

.pa_2 {
    background-color:white;
}

.pa_2:hover {
    color: black;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
}

.cf_1 {
    background-image:url("/static/img/oregon.jpeg") no-repeat;
    font-family: 'Playfair Display', serif;
    background: white;
    background-size: cover;
}

.acct_1 {
    color: gold;
}

.acct_1:hover {
    color: white;
}

.pw_1 {
    color: gold;
    margin-right: 8rem;
}

.pw_1:hover {
    color: white;
}

.pw_1:focus {
    color: gold;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    body {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width:auto;
        margin-left:auto;
        margin-right:auto;
    }

    .text-section {
        width: 28rem;
    }
} 



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 70%;
        margin-left:auto;
        margin-right:auto;
    }

    .text-section {
        width: 28rem;
    }
} 

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    body{
        display: 60%;
    }
}

@media only screen and (min-width: 600px) {
    body{
        display: 50%;
    }
}

@media screen and (prefers-reduced-motion: reduce) {  
    * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    }
}





