

/* base */
body {
    font-family: 'Playfair Display', serif;
    background: rgb(238, 238, 229) url("/static/img/sf_logo4.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
}

h1.text-center {
    color: black;
    background-color: rgb(238, 238, 229);
}

h1 {
    color: black;
}

p {
    color: black;
}

    /* login form */
form {
    color: black;
    background-color: rgb(238, 238, 229);  
    border-radius: 10px; 
}

.navbar {    
    background-color: green;
    border-bottom: 2px solid green;
    margin-bottom: 2rem;
    display: flex;
}

.navbar-brand {
    color:gold;
}

.navbar-brand:hover {
    color:gold;
}

.pa_1 {
    color:gold;
}

.pa_1:hover {
    color:white;
}

.pa_1:focus {
    color: gold;
}

.pa_2 {
    background-color:rgb(238, 238, 229);
}

.pa_2:hover {
    color: black;
}

.cf_1 {
    background-image:url("/static/img/oregon.jpeg") no-repeat;
    font-family: 'Playfair Display', serif;
    background: white;
    background-size: cover;
}

    /* profile */
.pw_1 {
    color: gold;
    margin-right: 8rem;
}

.pw_1:hover {
    color: white;
}

.pw_1:focus {
    color: gold;
}

/* flight_new (table) */
.container {
    text-align: center;
    background-color: rgb(238, 238, 229);
}

.th1 {
    color: black;
    background-color: rgb(238, 238, 229);
}

.s1 {
    cursor: pointer;
    padding: 5px;
    background: rgb(238, 238, 229);
    color: black;    
}

.edit1 {
    cursor: pointer;
    padding: 5px;
    background: rgb(238, 238, 229);
    color: black; 
}

.delete1 {
    cursor: pointer;
    padding: 5px;
    background: rgb(238, 238, 229);
    color:  red; 
}

/* login */
    /* table div container */
.a1 {
    color: black;
    background-color: rgb(238, 238, 229);   
    border-radius: 10px; 
    opacity: 0.9;
}

    /* submitt btn */
.a2 {
    color: black;
    background-color: rgb(238, 238, 229); 
    border: rgb(238, 238, 229);
    *opacity: 0.9;
}

/* currency_details (table) */
.table-secondary {
    background-color: black;
}

    /* not being used? */
.b2 {
    color: white;
}

/* profile (account) */
.prof2 {
    color: black;
    background-color: rgb(238, 238, 229);
}

.profbn {
    color: white;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width:auto;
        margin-left:auto;
        margin-right:auto;
    }

    .text-section {
        width: 28rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 70%;
        margin-left:auto;
        margin-right:auto;
    }

    .text-section {
        width: 28rem;
    }
} 

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    body{
        display: 60%;
    }
}

@media only screen and (min-width: 600px) {
    body{
        display: 50%;
    }
}

@media screen and (prefers-reduced-motion: reduce) {  
    * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    }
}





