h1.text-center {
    color: black;
    background-color: rgb(238, 238, 229);
}

.container {
    text-align: center;
    background-color: rgb(238, 238, 229);
}

.th1 {
    color: black;
    background-color: rgb(238, 238, 229);
}

form {
    color: black;
    background-color: rgb(238, 238, 229);
}