.a1 {
<<<<<<< Updated upstream
    color: rgb(241, 220, 192);
    background-color: rgb(88, 52, 5);   
=======
    color: rgb(88, 52, 5);
    background-color: rgb(241, 220, 192);   
    border-radius: 10px; 
    opacity: 0.8;
}

.a2 {
    color: rgb(241, 220, 192);
    background-color: rgb(88, 52, 5); 
    opacity: 0.8;
}

form {
    color: rgb(88, 52, 5);
    background-color: rgb(241, 220, 192);   
>>>>>>> Stashed changes
    border-radius: 10px; 
}

.a2 {
    color: rgb(88, 52, 5);
<<<<<<< Updated upstream
    background-color: rgb(241, 220, 192); 
}
=======
    background-color: rgb(241, 220, 192);
    border: rgb(241, 220, 192);

>>>>>>> Stashed changes
