.a1 {

    color: black;
    background-color: rgb(211, 213, 230);   
    color: black;
    background-color: rgb(211, 213, 230);   
    border-radius: 10px; 
    opacity: 0.8;
}

.a2 {
    color: black;
    background-color: rgb(211, 213, 230); 
    opacity: 0.8;
}

form {
    color: black;
    background-color: rgb(238, 238, 229);  
    border-radius: 10px; 
}

.a2 {
    color: black;
    background-color: rgb(211, 213, 230); 
}

.a2 {
    background-color: rgb(211, 213, 230);
    border: rgb(192, 192, 230);
}


