.a1 {
    color: rgb(88, 52, 5);
    background-color: rgb(241, 220, 192);   
    border-radius: 10px; 
    opacity: 0.6;
}

.a2 {
    color: rgb(241, 220, 192);
    background-color: rgb(88, 52, 5); 
    opacity: 0.6;
}

