body {
    background-color: rgb(211, 213, 230);
    text-align: center;
}

h1 {
    color: black;
}

p {
    color: black;
}

.b2 {
    color: white;
    background-color: green;
}

.b2:hover {
    color: black;
    background-color: gold;
}