{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}New Flight{% endblock title %}

{% block additional_styles %}
    <style>
        body {
            background-image: url(/static/img/oregon.jpeg);
        }
    </style>
    {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="new_flight">New Flight</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}                   
                <button class="fas fa-save fa-5x s1" type="submit"></button> 
            </form> 
    </div> 
{% endblock content %}