{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}New Flight{% endblock title %}

{% block additional_styles %}
    <style>
        body {
            background-image: url(/static/img/oregon.jpeg);
        }
    </style>
    {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="new_flight">New Flight</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
        <input type="submit" value="Update">               
            </form>
        
        <thead class="thead">
            <tr class="table-primary">
                <th scope="col">Date of flight*</th>
                <th scope="col">Tail number*</th>
                <th scope="col">Depart ICAO*</th>
                <th scope="col">Arrival ICAO*</th>
                <th scope="col">Msn type*</th>
                <th scope="col">Pic type*</th>
                <th scope="col">Sic time*</th>
                <th scope="col">Instructor time*</th>
                <th scope="col">Act instrument time*</th>
                <th scope="col">Sim instrument time*</th>
                <th scope="col">Instument appchs*</th>
                <th scope="col">Holds*</th>
                <th scope="col">Day landiings*</th>
                <th scope="col">Night time*</th>
                <th scope="col">Night landings*</th>
            </tr>
        
        </thead>        
        
    </div>
    
{% endblock content %}