{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}User Profile{% endblock title %}

{% block content %}
    <div class="col-md-8 offset-md-3 prof2" style="max-width: 50%;">
        <h2>Profile for user {{ user.get_username }}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-evenly py-3">
                <button class="btn submit_btn ml-2 profbn" type="submit">Update</button>
                <input class="btn cancel_btn" type="button" value="Go Back" onclick="history.back()">
            </div>
        </form>
    </div>
{% endblock content %}